:root {
  --max-width: 1100px;

  --gray: #b4b4b4;
  --orange: #ff6e1d;

  --disabled-btn-color: #e6e7e9;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 600px;
  /* height: 65px; */
  margin: 10px 0;
  color: var(--gray);
}

.input-wrapper input {
  width: 100%;
  height: 100%;
  background-color: #f7f8fa;
  color: black;
  border: none;
  border-radius: 10px;
  outline: none;
  padding: 22px;
}

.input-wrapper input::placeholder {
  color: var(--gray);
}

::-webkit-calendar-picker-indicator {
  cursor: pointer;
}

.radio-wrapper {
  margin: 10px 0;
  display: flex;
  align-items: center;
  gap: 8px;
  color: var(--gray);
}

.radio-wrapper input {
  appearance: none;
  -webkit-appearance: none;
  width: 24px;
  height: 24px;
  background-color: #ffffff;
  border: 1px solid var(--gray);
  border-radius: 50%;
  outline: none;
  vertical-align: middle;
  padding: 3px;
  box-sizing: border-box;
  background-clip: content-box;
}

.radio-wrapper input:checked {
  background-color: var(--orange);
}

.btn {
  margin: 20px 0;
  max-width: 600px;
  height: 65px;
  border: none;
  outline: none;
  border-radius: 10px;
}

.btn-orange {
  color: white;
  background-color: var(--orange);
}

.btn:disabled {
  background-color: var(--disabled-btn-color);
}

.auth_nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: var(--orange);
  margin-bottom: 3rem;
}

.justify_center {
  justify-content: center;
}
